<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/main.css">

    <title>Document</title>
</head>
<body>
    <div class="app">
    <img src="https://api.chucknorris.io/img/chucknorris_logo_coloured_small@2x.png" alt="logo">
    <h1>Chuck Norris facts</h1>
        <h3>JOKE: {{joke}}</h3>
         <form action="/category" method='POST'>
            <input type="text" placeholder="Enter Category" name='theCategory'>
           
            <button type="submit">Submit</button>
        </form>

    </div>
</body>
</html>